<mat-toolbar>
    <mat-toolbar-row>
        <span class="point" routerLink="/">Material Blog</span>
        <span class="spacer"></span>
        <div *ngIf="authService.user | async as user; else login">
            <button routerLink="/dash-board"
                     mat-stroked-button color="primary">New Post </button>
            <button class="logout" (click)="logout()"
                    mat-raised-button color="primary"> Logout </button>
        </div>
        <ng-template #login>
            <div>
                <button (click)="onLogin()"
                        mat-raised-button color="primary">Login with <i class="fab fa-google"></i></button>
            </div>
        </ng-template>
    </mat-toolbar-row>
</mat-toolbar>
